/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

header {
    background-color: #333;
    color: #ffffff;
    /* padding: 20px; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para efecto visual */
   /* fijamos el header */
   width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
   left: 0; /* Posicionamos la cabecera al lado izquierdo */
   top: 0; /* Posicionamos la cabecera pegada arriba */
   position: sticky; /* Hacemos que la cabecera tenga una posición */
}
h1:hover {
    color: orange;
  }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
}

@media (min-width: 300px)
{
    main {
        padding-top: 1px;
    }
    #foto {
        width: 240px;
        height: 250px;
    }
    #mapa {
        width: 240px;
        height: 250px;        
    }
    .redsocial i {
        font-size: 5vw;
    }
    .netflix-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

}

@media (min-width: 481px)
{
    main {
        padding-top: 4px;
    }
    header h1 {
        margin: 0;
        font-size: 1rem;
        text-transform: uppercase; 
        text-align: center;
    }
    main h2 {
        font-size: 1rem;
    }
    #generador {
        width: 50%;
        padding-left: 32.5%;
        padding-right: 32.5%;
    }
    #foto {
        width: 396px;
        height: 260px;
    }
    #mapa {
        width: 398px;
        height: 280px;        
    }
    .redsocial i {
        font-size: 4vw;
    }
    .netflix-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}
@media (min-width: 769px)
{
    main {
        padding-top: 4px;
    }
    header h1 {
        margin: 0;
        font-size: 1.5rem;
        text-transform: uppercase; 
        text-align: center;
    }
    main h2 {
        font-size: 1.25rem;
    }
    #generador {
        width: 50%;
        padding-left: 32.5%;
        padding-right: 32.5%;
    }
    #foto {
        width: 700px;
        height: 460px;
    }
    #mapa {
        width: 600px;
        height: 450px;        
    }
    .redsocial i {
        font-size: 3vw;
    }
    .netflix-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}
@media (min-width: 1025px)
{
    main {
        padding-top: 10px;
    }
    header h1 {
        margin: 0;
        font-size: 2rem;
        text-transform: uppercase; 
        text-align: center;
    }
    main h2 {
        font-size: 1.75rem;
    }
    #generador {
         width: 35%;
        padding-left: 32.5%;
        padding-right: 32.5%;
    }
    #foto {
        width: 996px;
        height: 560px;
    }
    #mapa {
        width: 600px;
        height: 450px;        
    }
    .redsocial i {
        font-size: 2vw;
    }
    .netflix-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
}

/* Estilos específicos para secciones */
.welcome-section,
.generator-section,
.about-section,
.contact-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para formularios */
form {
    margin-top: 20px;
}

.h2-contact {
    color: #283629;
    font-size: 35px;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #283629;
    font-size: 15px;
    font-weight: 600;
}

.form-txt {
    margin-bottom: 30px;
    justify-content: space-between;
    text-align: center;

}

.form-txt a { 
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
}

input[type="text"], select 
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message, #name, #reason, input[type="email"]
{
    width: 50%;
    padding: 17px 25px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-radius: 25px;
    background-color: #edfff0;
    color: #283629;
}

/* Botón de imágenes */
#fimage {
    display: none; 
  }

  .custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
  }

  .custom-file-upload:hover {
    background-color: #555;
    color: orange;
  }

button  {
    background-color: #333;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
   
}

button:hover {
    background-color: #555;
    color: orange;
    
}

/* Estilos para los botones del menú de navegación */
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    /* background-color: #555; */
    color: orange;
}

.item {
    width: 100%;
    height: auto;
}

/* Media queries para ajustar el tamaño de la imagen en diferentes tamaños de pantalla */
/* Tablet */
@media screen and (max-width: 768px) {
    .item {
        max-width: 300px;
    }
}

/* Celular */
@media screen and (max-width: 480px) {
    .item {
        max-width: 200px;
    }
}

/* footer */
.redsocial {
    color: white;
    font-size: 1.5vw;
    text-align: center;
}
.redsocial a {
    color: #000000;
    margin: 0px 6px;
    font-size: 2vw;
}

footer a:hover {
    color: orange;
}

/* animación del header */
header h1:hover {
    animation-duration: 2s;
    animation-name: move;
    animation-iteration-count: infinite;
}
@keyframes move {
    0% { transform: translate(0, 0); }
    40% { transform: translate(1rem, 0); -webkit-transform: translate(1rem, 0); -moz-transform: translate(1rem, 0); -ms-transform: translate(1rem, 0); -o-transform: translate(1rem, 0); }
    60% { transform: translate(1rem, 1rem); -webkit-transform: translate(1rem, 1rem); -moz-transform: translate(1rem, 1rem); -ms-transform: translate(1rem, 1rem); -o-transform: translate(1rem, 1rem); }
    80% { transform: translate(0, 1rem); -webkit-transform: translate(0, 1rem); -moz-transform: translate(0, 1rem); -ms-transform: translate(0, 1rem); -o-transform: translate(0, 1rem); }
}

@media (min-width: 1025px) {
    /* animación del footer */
    footer p:hover {
        animation-duration: 10s;
        animation-name: desplazar;
        animation-iteration-count: infinite;
        animation-direction: alternate; 
        animation-timing-function: ease-in-out;
    }

    @keyframes desplazar {
        from {
        margin-left: -65%;
        width: 300%;
        }

        to {
        margin-left: -35%;
        width: 100%;
        }
    }
}

footer p:hover {
    color: orange;
}